/*!
 * Fancy Settings by Frank Kohlhepp
 * Copyright (c) 2011 - 2012 Frank Kohlhepp
 * https://github.com/frankkohlhepp/fancy-settings
 * License: MIT-license
 */

@import "../node_modules/nib"

html, body
  height: 100%

body
  font-family: "Lucida Grande", sans-serif
  line-height: 1.8
  color: #303942

#sidebar
  float: left
  height: 100%
  margin-right: 21px
  overflow-y: auto
  overflow-x: hidden

#name
  margin: 21px 27px 17px 23px
  font-size: 1.5em
  color: #5c6166

#tab-container
  margin-bottom: 20px

#tab-container .tab
  padding: 6px 27px 5px 24px
  line-height: 1.5
  color: #999999
  cursor: pointer
  
  &.active
    border-left: 6px solid #464e5a
    padding-left: 18px
    color: #464e5a
    
    html.searching &
      border-left: none
      padding-left: 24px
      color: #999999

#search-tab
  width: 0
  height: 1px
  padding: 0 27px 0 24px !important
  overflow: hidden
  transition: height 0.05s ease
  
  html.searching &
    border-left: 6px solid #464e5A
    width: auto
    height: 29px
    padding: 6px 27px 6px 18px !important
    color: #464e5a

#content
  position: relative
  height: 100%
  overflow-y: auto
  overflow-x: hidden

#search-container
  position: absolute
  top: 20px
  left: 460px
  z-index: 2

#search
  position: fixed
  width: 250px

.tab-content
  display: none
  margin-bottom: 20px
  
  html.searching &.match
  html.measuring &
    display: block

html.searching #search-tab-content
  display: block
